#include <windows.h>
#include "Version.h"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION MALONECANGJIE_FILE_VERSION
 PRODUCTVERSION MALONECANGJIE_PRODUCT_VERSION
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0x0L
#endif
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_DLL
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "Malone"
            VALUE "FileDescription", "Malone CangJie Text Service"
            VALUE "FileVersion", MALONECANGJIE_FILE_VERSION_STRING
            VALUE "InternalName", "MaloneCangJie.dll"
            VALUE "OriginalFilename", "MaloneCangJie.dll"
            VALUE "ProductName", "Malone CangJie"
            VALUE "ProductVersion", MALONECANGJIE_PRODUCT_VERSION_STRING
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
